.container-campaign {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    width: 805px;
    height: 348px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.campaign-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    height: 48px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    height: 30px;
    /* Primary/Main

    2E9C33
    */
    background: #2E9C33;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.container-button-text {
    /* Poppins/Body/Medium */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    /* identical to box height, or 135% */


    /* Neutral / White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.container-button-icon {
    width: 24px;
    height: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #FFFFFF;
}


.campaign-list-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.campaign-card {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 649px;
height: 93px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}

.campaign-card-up {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 649px;
height: 53px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.campaign-card-up-title {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 649px;
height: 30px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.campaign-card-up-title-text {
width: 621px;
height: 30px;

/* Poppins/Tittle 2/Bold */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
/* identical to box height, or 136% */


/* Neutral / 01 (Primary text) */

color: #1E1E1E;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.campaign-card-up-title-icon {
width: 20px;
height: 20px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.campaign-card-bottom {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 375px;
height: 26px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}