.container-adopt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    width: 805px;
    height: 348px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.adopt-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    height: 48px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.adopt-container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    height: 30px;
    /* Primary/Main

    2E9C33
    */
    background: #2E9C33;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.adopt-container-button-text {
    /* Poppins/Body/Medium */

     
     
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    /* identical to box height, or 135% */


    /* Neutral / White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.adopt-container-button-icon {
    width: 24px;
    height: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #FFFFFF;
}


.adopt-list-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.adopt-card {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 609px;
height: 93px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}

.adopt-card-title {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 649px;
height: 30px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.adopt-card-title-text {
width: 621px;
height: 30px;

/* Poppins/Tittle 2/Bold */

 
font-weight: 600;
font-size: 22px;
line-height: 30px;
/* identical to box height, or 136% */


/* Neutral / 01 (Primary text) */

color: #1E1E1E;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.adopt-card-isi1 {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.adopt-card-isi2 {
/* Poppins/Subhead/Regular */

 
font-weight: 400;
font-size: 15px;
line-height: 19px;
/* identical to box height, or 127% */


/* Neutral / 05 (Secondary text) */

color: #747474;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.adopt-bullet {
width: 4px;
height: 4px;

/* Neutral / 06

898989
*/
background: #898989;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.adopt-line {
width: 609px;
height: 2px;

/* Neutral / 10

E0E0E0
*/
background: #E0E0E0;
border-radius: 2px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.adopt-card-title-icon {
width: 20px;
height: 20px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.adopt-card-isi {
width: 414px;
height: 19px;

/* Poppins/Subhead/Regular */

 
font-weight: 400;
font-size: 15px;
line-height: 19px;
/* identical to box height, or 127% */


/* Neutral / 05 (Secondary text) */

color: #747474;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}