.AdoptPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.AdoptMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    width: inherit;
    height: 853px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* HEADER */
.AdoptHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 1172px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.AdoptHeader-topnav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.topnav-filter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;

    width: 918px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.filter-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 0px 15px;
    width: 400px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #B4B4B4;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.filter-search-text {
    width: inherit;
    outline: none;
    border: none;
}

.filter-icon {
    width: 20px;
    height: 20px;

    flex: none;
    order: 0;
    flex-grow: 0;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;

    color: #B4B4B4;
}


.filter-country {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 0px 15px;
    width: 215px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #B4B4B4;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.filter-country-text {
    width: 100px;
    height: 23px;

    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;

    color: #747474;

    outline: none;
    border: none;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.filter-sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    width: 151px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #B4B4B4;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.topnav-line {
    width: 2px;
    height: 48px;

    background: #D9D9D9;
    border-radius: 2px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.topnav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 188px;
    height: 48px;
    background: #2E9C33;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 16px;

    cursor: pointer;
    user-select: none;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.topnav-button-icon {
    width: 24px;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #FFFFFF;
}

.topnav-button-text {
    width: 108px;
    height: 23px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.AdoptHeader-category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: fit-content;
    height: fit-content;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.category-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 16px;
    height: 23px;

    border: 1px solid #B4B4B4;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12));
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #747474;
    flex: none;
    order: 0;
    flex-grow: 0;
    user-select: none;
    cursor: pointer;
}

.category-button:hover {
    background-color: #649EF5;
    color: #FFFFFF;
    border-color: #649EF5;

}

/* BODY */
.AdoptBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 28px;

    width: inherit;
    max-width: 1170px;
    height: fit-content;

    flex: none;
    order: 1;
    flex-grow: 0;
    flex-wrap: wrap;
}
/* 
.AdoptBody-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.AdoptBody-col12 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: fit-content;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.AdoptBody-col {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px 16px 0px 0px;
    gap: 8px;
    height: 120px;

    background: #FFFFFF;
    border: 1px solid #E5E4E5;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 18px;

    flex: none;
    align-self: stretch;
    flex-grow: 1;
} */

.Adopt-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    background: #FFFFFF;
    border: 1px solid #E5E4E5;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 18px;
    max-width: 355px;
    height: auto;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.Adopt-card-img {
    width: 120px;
    height: 120px;

    border-radius: 16px 0px 0px 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Adopt-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 213.33px;
    height: 93px;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.Adopt-card-content-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 213.33px;
    height: 49px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.Adopt-card-title {
    width: 213.33px;
    height: 26px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;

    color: #1E1E1E;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.Adopt-card-isi {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: #747474;
    font-size: 14px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Adopt-card-line {
    width: 213.33px;
    height: 2px;

    background: #E0E0E0;
    border-radius: 2px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.Adopt-card-desc {
    width: 213.33px;
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #747474;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

/* FOOTER */
.AdoptFooter {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: fit-content;
    align-items: flex-end;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.AdoptPagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: fit-content;
    height: 42px;
    order: 0;
}

.Adopt-footer-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;

    border-radius: 14px;

    flex: none;
    flex-grow: 0;
    color: #B4B4B4;
}

.Adopt-footer-icon {
    width: 20px;
    height: 20px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Adopt-footer-page-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;

    width: 10px;
    height: 10px;
    background: #2E9C33;
    border-radius: 50px;
    order: 0;
    flex: none;
    flex-grow: 0;
}

.Adopt-footer-page-text-active {
    color: #FFFFFF;
}

.Adopt-footer-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;

    width: 10px;
    height: 10px;

    border-radius: 50px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Adopt-footer-page-text {
    color: #747474;
}