.HomePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    background-image: url('../Assets/Images/HomePage_BG.png');
    background-size: cover;
}

.HomeMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 54px;
    gap: 108px;

    width: inherit;
    height: 581px;
}

.HomeLeftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    gap: 48px;

    width: 532px;
    height: 581px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.12));

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.LaporSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 16px;

    width: 532px;
    height: 140px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


.DonasiSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 532px;
    height: 140px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.AdopsiSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 532px;
    height: 140px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}


.RibbonGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    width: 350px;
    height: 140px;

    border-radius: 24px;
}

.Ribbon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 6px 16px;

    width: 210px;
    height: 88px;

    border-radius: 0px 20px 20px 0px;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.RibbonName {
    width: 155px;
    height: 56px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;
}

.RibbonDesc {
    width: 104px;
    height: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    text-align: center;

    color: #FFFFFF;

    opacity: 0.8;
}

.HomeRightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 64px;

    width: 532px;
    height: 581px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.SloganGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 45px;

    width: 532px;
    height: 306px;
}

.SloganImage {
    width: 186px;
    height: 198px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.SloganText {
    width: 442px;
    height: 48px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;

    text-align: center;
    color: #1E1E1E;
}

.SloganDesc {
    width: 442px;
    height: 60px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    color: #343434;
}

.CampaignSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;

    width: 532px;
    height: 219px;

    border-radius: 32px;
}


.CampaignCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px 0px 0px;
    gap: 12px;

    width: 500px;
    height: 160px;

    background: #FFFFFF;
    border: 1px solid #E5E4E5;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
}

.CampaignImage {
    width: 160px;
    height: 160px;

    border-radius: 24px;
}

.CampaignCardTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 308px;
    height: 64px;
}

.CampaignCardTitle>span {
    width: 308px;
    height: 28px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    color: #1E1E1E;
}

.CampaignButtonLayout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 16px;

    width: 308px;
    height: 42px;
}

.CampaignButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 193px;
    height: 42px;

    background: #2E9C33;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 14px;
    border: none;
    cursor: pointer;
}

.CampaignButton>span {
    width: auto;
    height: 23px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;

    color: #FFFFFF;
}