.report-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 100;
    height: auto;
    left: 0px;
    right: 0px;
    top: calc(50% - 832px/2);
    /* background-image: url(../Assets/Images/bg-shapes.svg); */
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 36px 54px;
    gap: 4px;
    width: inherit;
    height: auto;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.header-text-1 {
    width: 619px;
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    color: #1E1E1E;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-text-2 {
    width: auto;
    height: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #1E1E1E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.report-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 108px 0px 54px;
    gap: 89px;
    width: inherit;
    height: 498px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.report-type-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 440px;
    height: 498px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px;
    gap: 24px;
    width: auto;
    /* why width error? 100 or  */
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.report-type {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: auto;
    gap: 12px;
    width: 392px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #B4B4B4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    outline: none;
}

.report-type>option {
    width: 328px;
    height: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #1E1E1E;
    outline: none;
}

.number-input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 392px;
    height: auto;
    align-self: stretch;
}

.number-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    width: 392px;
    height: 48px;
    border: 1px solid #B4B4B4;
    border-radius: 12px;
    outline: none;
}

.number-input ::placeholder {
    width: 344px;
    height: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #747474;
}

.required-warning {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 0px;
    gap: 4px;
    width: 392px;
    height: 26px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.required-warning>p {
    width: 57px;
    height: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    color: #E92F2F;
}

.req-warn-icon {
    width: 14px;
    height: 14px;
    color: #E92F2F;
}

.animal-group {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: auto;
    gap: 12px;
    width: 392px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #B4B4B4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    align-self: stretch;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    outline: none;
}

.animal-group>option {
    width: 328px;
    height: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #1E1E1E;
    outline: none;
}

.animal-name-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    width: 392px;
    height: 48px;
    border: 1px solid #B4B4B4;
    border-radius: 12px;
    outline: none;
}

.image-upload-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    gap: 8px;
    width: 203px;
    height: 48px;
    border: 2px solid #97CD99;
    background-color: white;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12));
    border-radius: 16px;
    cursor: pointer;
}

.img-up-icon {
    width: 24px;
    height: 24px;
    color: #2E9C33;
}

.image-upload-button>p {
    width: 130px;
    height: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #2E9C33;
}


.add-info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    border-top: solid 2px #D9D9D9;
    gap: 8px;
    width: 392px;
    height: 102px;
}

.add-info-group>p {
    width: 191px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #1E1E1E;
}

.add-info-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 16px;
    width: 392px;
    height: 58px;
    border: 1px solid #B4B4B4;
    border-radius: 12px;
    outline: none;
}

.add-info-input ::placeholder {
    width: 80px;
    height: 19px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #747474;
}

.community-select-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    width: auto;
    height: auto;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.community-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 12px;
    width: 376px;
    height: 48px;
    border: 1px solid #B4B4B4;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.12));
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    outline: none;
}

.community-select>option {
    width: 328px;
    height: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #1E1E1E;
}

.report-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    gap: 16px;
    width: 376px;
    height: 64px;
    background: #2E9C33;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

.report-button>p {
    width: 113px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}


.da-select-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 560px;
    height: 496.92px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* background-color: #97CD99; */
}

.da-selector-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 560px;
    height: auto;
    /* height 108px or auto? */
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 20px;
    /* background-color: #2E9C33; */
}

.da-selector-group>p {
    width: 491px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #1E1E1E;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.buttons-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px;
    gap: 16px;
    width: 560px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), inset 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttons-wrapper .option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    gap: 16px;
    width: 155px;
    height: 30px;
    border-radius: 16px;
    cursor: pointer;
    user-select: none;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2,
#option-3:checked:checked~.option-3 {

    border-color: #2E9C33;
    background: #2E9C33;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    cursor: pointer;
    user-select: none;

}

.buttons-wrapper .option span {
    text-align: center;
    width: 140px;
    height: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #2E9C33;
    cursor: pointer;
    user-select: none;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span,
#option-3:checked:checked~.option-3 span {
    text-align: center;
    width: 1140x;
    height: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;
}

.animal-examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 500px;
    height: 348.92px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.animal-images {
    width: 500px;
    height: 310.92px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.animal-names {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 423px;
    height: 26px;
    flex: none;
    order: 1;
    flex-grow: 0;
}