.report-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    width: inherit;
    height: auto;
    left: 0px;
    right: 0px;
    background-image: url("../Assets/Images/DonateReport_BG.png");
    background-size: cover;
}

.report-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 36px 54px;
    gap: 4px;
    width: inherit;
    height: auto;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.report-header-1 {
    width: 619px;
    height: 40px;


    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    color: #1E1E1E;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.report-header-2 {
    width: auto;
    height: 23px;


    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #1E1E1E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.report-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 108px 0px 54px;
    gap: 89px;
    width: inherit;
    height: fit-content;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.report-type-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: fit-content;
    max-width: 440px;
    height: auto;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.report-form-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px;
    gap: 24px;
    width: auto;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E9E9E9;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #97CD99;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2E9C33;
}

.number-input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 392px;
    height: auto;
    align-self: stretch;
}

.number-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    width: 392px;
    height: 48px;
    border: 1px solid #B4B4B4;
    border-radius: 12px;
    outline: none;
}

.number-input ::placeholder {
    width: auto;
    height: auto;


    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #747474;
}

.required-warning {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 0px;
    gap: 4px;
    width: 392px;
    height: 26px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.req-warn-text {
    width: 57px;
    height: 14px;


    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    /* color: #E92F2F; */
}

.req-warn-icon {
    width: 14px;
    height: 14px;
    /* color: #E92F2F; */
}

.animal-name-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    width: 392px;
    height: 48px;
    border: 1px solid #B4B4B4;
    border-radius: 12px;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #747474;
    outline: none;
}

.image-upload-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    gap: 8px;
    width: 203px;
    height: 48px;
    border: 2px solid;
    background-color: white;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12));
    border-radius: 16px;
    cursor: pointer;
}

.img-up-icon {
    width: 24px;
    height: 24px;
    color: #2E9C33;
}

.image-upload-button>p {
    width: 130px;
    height: 23px;

    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #2E9C33;
}

.uploaded-image{
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #2E9C33;
}


.add-info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    border-top: solid 2px #D9D9D9;
    gap: 8px;
    width: 392px;
    height: fit-content;
}

.add-info-group>span {
    width: auto;
    height: 26px;
    padding: 10px 0px;


    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #1E1E1E;
}

.add-info-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 16px;
    width: inherit;
    height: 48px;
    border: 1px solid #B4B4B4;
    border-radius: 12px;
    outline: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #747474;
}

.add-info-input ::placeholder {
    width: 80px;
    height: 19px;


    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #747474;
}

.community-select-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    width: inherit;
    height: auto;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.community-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 12px;
    width: 350px;
    height: 48px;
    border: 1px solid transparent;
    border-radius: 12px;


    font-weight: 600;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}

.community-select>option {
    width: 328px;
    height: 28px;


    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #1E1E1E;
}

.report-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    gap: 16px;
    width: 376px;
    height: 64px;
    background: #2E9C33;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0ms;
}

.report-button>p {
    width: 113px;
    height: 30px;


    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.report-button:active {
    transform: scale(0.95);
}


.da-select-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 560px;
    height: 510px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.da-selector-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 560px;
    height: inherit;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 20px;
}

.da-selector-group>p {
    width: 491px;
    height: 36px;


    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #1E1E1E;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
}

.buttons-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px;
    gap: 16px;
    width: 560px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), inset 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttons-wrapper .option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    gap: 16px;
    width: 155px;
    height: 30px;
    border-radius: 16px;
    cursor: pointer;
    user-select: none;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2,
#option-3:checked:checked~.option-3 {
    border-color: #2E9C33;
    background: #2E9C33;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s ease-in-out 0ms;
}

.buttons-wrapper .option span {
    text-align: center;
    width: 140px;
    height: 23px;

    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #2E9C33;
    cursor: pointer;
    user-select: none;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span,
#option-3:checked:checked~.option-3 span {
    text-align: center;
    width: 1140x;
    height: 23px;

    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;
}

.animal-examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 500px;
    height: 348.92px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.animal-images {
    width: 500px;
    height: 310.92px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.animal-names {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    height: 26px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.names-map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.report-right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 32px;

    width: 676px;
    height: fit-content;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.report-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px;
    gap: 24px;

    width: auto;
    height: auto;

    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 628px;
    height: 30px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-title>span {
    width: 86px;
    height: 30px;



    font-weight: 600;
    font-size: 22px;
    line-height: 30px;

    color: #1E1E1E;
}


.reporter-input {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;

    height: 48px;
    background: #FFFFFF;
    border: 1px solid #B4B4B4;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    outline: none;

    flex: none;
    align-self: stretch;
    flex-grow: 0;


    font-weight: 400;
    font-size: 17px;
    line-height: 23px;

    color: #747474;

}

.reporter-input::placeholder {
    width: auto;
    height: 23px;



    font-weight: 400;
    font-size: 17px;
    line-height: 23px;

    color: #747474;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.address-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 628px;
    height: 48px;

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.reporter-address {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;

    width: 568px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #B4B4B4;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    outline: none;

    flex: none;
    order: 0;
    flex-grow: 1;


    font-weight: 400;
    font-size: 17px;
    line-height: 23px;

    color: #747474;
}

.map-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;

    width: 48px;
    height: 48px;
    background-color: white;
    border: none;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.map-button>svg {
    color: #DCB736;
}

.province-city-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 628px;
    height: 48px;

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}

.ar-buttons-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 536px;
    height: 64px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.rescue-report-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    gap: 16px;
    width: 269px;
    height: 64px;
    background: #2E9C33;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0ms;
}

.rescue-report-button>p {
    width: 113px;
    height: 30px;

    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.rescue-report-button:active {
    transform: scale(0.95);
}