.container-donate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    width: 805px;
    height: 348px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.donate-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    height: 48px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.donate-container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    height: 30px;
    /* Primary/Main

    2E9C33
    */
    background: #2E9C33;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.donate-container-button-text {
    /* Poppins/Body/Medium */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    /* identical to box height, or 135% */


    /* Neutral / White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.donate-container-button-icon {
    width: 24px;
    height: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #FFFFFF;
}



.donate-list-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 805px;
    height: 260px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.donate-main {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 805px;
height: 120px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.card-dashboard-donate {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px 0px 0px;
gap: 20px;

width: 386.5px;

/* Neutral / White

FFFFFF
*/
background: #FFFFFF;
/* Neutral / 11

E5E4E5
*/
border: 1px solid #E5E4E5;
/* Shadow 1 */

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.card-dashboard-donate-image {
    width: 120px;
    height: 120px;
    border-radius: 16px 0px 0px 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.donate-card {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 230.5px;
height: 93px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}

.donate-card-up {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 230.5px;
height: 51px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.donate-card-up-title {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 230.5px;
height: 30px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.donate-card-up-title-text {
width: 202.5px;
height: 30px;

/* Poppins/Tittle 2/Bold */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
/* identical to box height, or 136% */


/* Neutral / 01 (Primary text) */

color: #1E1E1E;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.donate-card-up-title-icon {
width: 20px;
height: 20px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.donate-card-up-isi {
/* Poppins/Footnote/Regular */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
/* identical to box height, or 131% */


/* Neutral / 05 (Secondary text) */

color: #747474;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.donate-card-bottom {
width: 230.5px;
height: 23px;

/* Poppins/Body/Bold */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 23px;
/* identical to box height, or 135% */


/* Neutral / 05 (Secondary text) */

color: #747474;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}