.AppNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    gap: 322px;
    /* position: fixed; */
    width: 1280px;
    height: 60px;

    /* Neutral / White

    FFFFFF
    */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.AppLogo {
    width: 187px;
    height: 53px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.AppNavButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;

    width: 722px;
    height: 42px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.AppNavItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 564px;
    height: 23px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.AppNavFont {
    /* Poppins/Body/Bold */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    /* identical to box height, or 135% */

    text-align: center;

    /* Neutral / 01 (Primary text) */

    color: #1E1E1E;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.LoginButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;

    /* Primary/Main

    2E9C33
    */
    background: #2E9C33;
    border-radius: 14px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.LoginText {
    width: 46px;
    height: 23px;

    /* Poppins/Body/Medium */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    /* identical to box height, or 135% */


    /* Neutral / White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}