.Footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    gap: 322px;

    width: 1280px;
    height: 82px;

    background: #FFFFFF;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.12);
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}

.Footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: fit-content;
    height: 58px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Footer-content-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.Footer-address {
     
     
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;

    color: #1E1E1E;
}

.Footer-status {
     
     
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #747474;
}

.Footer-content-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.Footer-bar {
     
     
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    padding-right: 8px;
    color: #747474;
}